<!DOCTYPE html>
<html lang="en">

<head>
    <title>Leave the marks</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        Leave the marks !!!
                      </p>
                      <br/>

                   <blockquote class="mainLines">
                     An inspiring story helps you inspire yourself and motivate yourself. 
                  </blockquote>

                  <blockquote class="mainLines">
                   Read on and get ready to smile. There are some inspirational stories we have all heard but there are some stories that just can touch even the deepest part of our soul.Everyone Has a Story in Life. <br/><br/> Every second creates a story
                    and we share the best stories with you.<br/> Read the stories <a href="/stories">here</a> or <a href="/new-story">write your own story</a>
                  </blockquote>

                  </div>
           </div>
         </div>
      </div>


  </div>

  <% include partials/jsIncludes.ejs %>

</body>

</html>
